@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    font-family: Outfit;
}
select , input , textarea{
    border:1px solid #c2c2c2;
    outline-color :#63676d;
    border-radius: 4px;
}
.active{
    background-color: #7e8da7;
    border-color:#364153;
    /* border-color: #C586A5; */
}